{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Об авторе проекта</title>
{% endblock %}
{% block content %}
<div class="container">
  <center><h1>Привет, я автор. Меня зовут Анастасия!</h1></center>
  <p>
    Hello, my dear guest!
    Давайте познакомимся? 
    Я расскажу о себе пару фактов:
    <ul>
      <li>Мне 23</li>
      <li>Я живу в Москве</li>
      <li>Решила заняться программированием</li>
    </ul>
    <a href="https://github.com/AnastasiyaKap">
          А это мой GitHub, где я делаю свои проекты. Вы тоже можете зайти
          и посмотреть что там!</br>
    </a>
      В свободное время я работаю,
      мне нравится заниматься английским языком,
      а также я учусь программировать.
    <div>
      <img src="{% static 'img/my_table.jpg' %}" width="250px" 
      hspace="20px" vspace="15px" alt="Мой рабочий стол">
    </div>
    <p>
      Теперь давай познакомимся с тобой</br>
      Расскажи мне немного о себе:
      Чем увлекаешься? Откуда ты?</br>
      Нравится ли тебе программирование?</br>
      </p>
  </p>
</div>
{% endblock %} 