{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% block content %}
<div class="row">
  <center><h1>Вот что я умею</h1></center>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Для создания этого сайта я использовала знания
      HTML, CSS, Python, а также Django.</br>
      Декораторы - тема, которую в теории я 
      поняла, а на практике всё намного сложнее.</br>
      Лучше всего я поняла синтаксис работы Django.
      Мир программировия сложный, но увлекательный!</br>
      Также я научилась работать в терминале GitBash
      Все свои проекты я выкладываю в свой аккаунт GitHub</br>
      Я мечтаю научиться кодить и дойти до Middle-разработчика.
    </p>
  </article>
</div>
{% endblock %} 