{% extends 'base.html' %} 
{% load thumbnail %}
{% block title %}<title>Профайл пользователя {{ author }} </title> {% endblock %}
  {% block content %}
    <div class="container py-5">        
        <h1>Все посты пользователя {{ author }} </h1>
          <h3>Всего постов: {{ author.posts.count }} </h3>
          {% include 'posts/includes/unfollow_card.html' %} 
            <article>
              {% include 'posts/includes/card_info.html' %} 
              {% include 'posts/includes/paginator.html' %}
            </article>
    </div>
  {% endblock content %}